/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/*
 *  Multi select: MDL-50396
 */
 /* Custom CSS for file picker changes */
.fp-selected,
.fp-selected .fp-filename{
    color: #BFBFBF !important;
    font-style: italic;
}

.fp-selected span.fp-icon,
.fp-selected div.fp-thumbnail{
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}



/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
